.add__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.add__popup-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 470px;
}

.add__popup-close_button {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-bottom: 3px;
  background: url(../images/Close_Icon.svg) no-repeat center/cover;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.add__popup-close_button:hover {
  opacity: 0.6;
  transform: rotate(45deg);
}

.add__popup-form_container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 430px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.add__popup-header {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  align-self: flex-start;
  padding-top: 36px;
  padding-left: 36px;
}

@media screen and (max-width: 600px) {
  .add__popup {
    max-width: 282px;
  }

  .add__popup-container {
    width: 282px;
  }

  .add__popup-close_button {
    margin-bottom: 13.5px;
    width: 26px;
    height: 26px;
  }

  .add__popup-form_container {
    width: 100%;
  }

  .add__popup-header {
    font-size: 18px;
    line-height: 22px;
    padding-left: 22px;
  }
}
