.gallery {
  max-width: 100%;
  margin-top: 50px;
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px 20px;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .gallery {
    max-width: 720px;
  }

  .gallery__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    max-width: 320px;
    margin: 0;
  }

  .gallery__container {
    max-width: 288px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
}
