.header {
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 320px;
  }
}
