.main {
  max-width: 880px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 880px) {
  .main {
    max-width: 768px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    max-width: 282px;
  }
}
